__pycache__/
server/nginx/
*.pyc
.env
.env.* 
.env.local
.vscode/
.DS_Store
*.pem
*.key
id_rsa
id_ed25519
docker-compose.override.yml
node_modules/
*.js
.gradle/
build/
local.properties
*.log
captures/
.externalNativeBuild/
.cxx/
*.aab
*.apk
output-metadata.json
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.jks
*.keystore
google-services.json
*.hprof
server/docker-compose.yml
*.yml
server/*.yml
server/Dockerfile
Dockerfile
server/mongo-init/mongod.conf